pipeline/Copy using Parametrized DataMapping.json
{
	"name": "Copy using Parametrized DataMapping",
	"properties": {
		"activities": [
			{
				"name": "CopyREST2Parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set datamapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(variables('datamapping'))",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "AtlasREST_API",
						"type": "DatasetReference",
						"parameters": {
							"RelativeUrl": {
								"value": "@pipeline().parameters.EntityName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Bronze_Parquet",
						"type": "DatasetReference",
						"parameters": {
							"FileSystem": {
								"value": "@pipeline().parameters.DestinationRawFileSystem",
								"type": "Expression"
							},
							"Folder": {
								"value": "@pipeline().parameters.DestinationRawFolder",
								"type": "Expression"
							},
							"File": {
								"value": "@pipeline().parameters.DestinationRawFile",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Set datamapping",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "datamapping",
					"value": " {\n    \"type\": \"TabularTranslator\",\n    \"mappings\": [\n        {\n            \"source\": {\n                \"path\": \"['name']\"\n            },\n            \"sink\": {\n                \"name\": \"name\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['friendlyName']\"\n            },\n            \"sink\": {\n                \"name\": \"friendlyName\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['description']\"\n            },\n            \"sink\": {\n                \"name\": \"description\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['systemData']['createdBy']\"\n            },\n            \"sink\": {\n                \"name\": \"createdBy\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['systemData']['createdByType']\"\n            },\n            \"sink\": {\n                \"name\": \"createdByType\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['systemData']['createdAt']\"\n            },\n            \"sink\": {\n                \"name\": \"createdAt\",\n                \"type\": \"DateTime\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['systemData']['lastModifiedByType']\"\n            },\n            \"sink\": {\n                \"name\": \"lastModifiedByType\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['systemData']['lastModifiedAt']\"\n            },\n            \"sink\": {\n                \"name\": \"lastModifiedAt\",\n                \"type\": \"DateTime\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['collectionProvisioningState']\"\n            },\n            \"sink\": {\n                \"name\": \"collectionProvisioningState\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['parentCollection']['type']\"\n            },\n            \"sink\": {\n                \"name\": \"parentCollectionType\",\n                \"type\": \"String\"\n            }\n        },\n        {\n            \"source\": {\n                \"path\": \"['parentCollection']['referenceName']\"\n            },\n            \"sink\": {\n                \"name\": \"parentCollectionReferenceName\",\n                \"type\": \"String\"\n            }\n        }\n    ],\n    \"collectionReference\": \"$['value']\",\n    \"mapComplexValuesToString\": true\n}"
				}
			}
		],
		"parameters": {
			"EntityName": {
				"type": "string",
				"defaultValue": "collections?api-version=2019-11-01-preview"
			},
			"DestinationRawFileSystem": {
				"type": "string",
				"defaultValue": "raw-bronze"
			},
			"DestinationRawFolder": {
				"type": "string",
				"defaultValue": "purview/collections/2022-06"
			},
			"DestinationRawFile": {
				"type": "string",
				"defaultValue": "collections_20220625.parquet"
			}
		},
		"variables": {
			"datamapping": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sandbox"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-25T08:42:52Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}