pipeline/L1Transform-Generic.json
{
	"name": "L1Transform-Generic",
	"properties": {
		"description": "Generic pipeline to execute a single instance of L1 Transform",
		"activities": [
			{
				"name": "Update L1 Instance - Running",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set PipelineRunID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[ELT].[UpdateTransformInstance_L1]",
					"storedProcedureParameters": {
						"IngestCount": {
							"value": null,
							"type": "Int32"
						},
						"L1TransformADFPipelineRunID": {
							"value": {
								"value": "@variables('PipelineRunID')",
								"type": "Expression"
							},
							"type": "Guid"
						},
						"L1TransformCount": {
							"value": null,
							"type": "Int32"
						},
						"L1TransformInstanceId": {
							"value": {
								"value": "@pipeline().parameters.L1TransformInstanceID",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"L1TransformStatus": {
							"value": "Running",
							"type": "String"
						},
						"MaxRetries": {
							"value": {
								"value": "@pipeline().parameters.MaxRetries",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ControlDB",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set PipelineRunID",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "PipelineRunID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "L1 Transform",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "Update L1 Instance - Running",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": {
							"value": "@pipeline().parameters.NotebookName",
							"type": "Expression"
						},
						"type": "NotebookReference"
					},
					"snapshot": true,
					"sparkPool": {
						"referenceName": "smallMO",
						"type": "BigDataPoolReference"
					},
					"conf": {
						"spark.dynamicAllocation.enabled": false
					}
				}
			}
		],
		"parameters": {
			"L1TransformInstanceID": {
				"type": "int"
			},
			"L1TransformID": {
				"type": "int"
			},
			"IngestID": {
				"type": "int"
			},
			"NotebookName": {
				"type": "string"
			},
			"NotebookPath": {
				"type": "string"
			},
			"CustomParameters": {
				"type": "string"
			},
			"InputRawFileSystem": {
				"type": "string"
			},
			"InputRawFileFolder": {
				"type": "string"
			},
			"InputRawFile": {
				"type": "string"
			},
			"InputRawFileDelimiter": {
				"type": "string"
			},
			"InputFileHeaderFlag": {
				"type": "string"
			},
			"OutputL1CurateFileSystem": {
				"type": "string"
			},
			"OutputL1CuratedFolder": {
				"type": "string"
			},
			"OutputL1CuratedFile": {
				"type": "string"
			},
			"OutputL1CuratedFileDelimiter": {
				"type": "string"
			},
			"OutputL1CuratedFileFormat": {
				"type": "string"
			},
			"OutputL1CuratedFileWriteMode": {
				"type": "string"
			},
			"OutputDWStagingTable": {
				"type": "string"
			},
			"LookupColumns": {
				"type": "string"
			},
			"OutputDWTable": {
				"type": "string"
			},
			"OutputDWTableWriteMode": {
				"type": "string"
			},
			"ReRunL1TransformFlag": {
				"type": "bool"
			},
			"MaxRetries": {
				"type": "int"
			},
			"DeltaName": {
				"type": "string"
			}
		},
		"variables": {
			"PipelineRunID": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Transform/L1 Transform Pipelines"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-19T06:37:38Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}