pipeline/Manage-All-SQLPools.json
{
	"name": "Manage-All-SQLPools",
	"properties": {
		"activities": [
			{
				"name": "Call Resource List Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Logic App Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.resourceList_logicapp_endpoint",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('parameters'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Logic App Parameters",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "parameters",
					"value": {
						"value": "{\"subscriptionId\": \"@{pipeline().parameters.subscriptionId}\",\n\"resourceType\": \"@{pipeline().parameters.resourceType}\",\n\"apiVersion\": \"@{pipeline().parameters.apiVersion}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach-SQLPool",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Call Resource List Logic App",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Call Resource List Logic App').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "resourceGroupName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "resourceGroupName",
								"value": {
									"value": "@last(take(split(item().id,'/'),5))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "workspaceName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "workspaceName",
								"value": {
									"value": "@first(split(item().name,'/'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "sqlPoolName",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "sqlPoolName",
								"value": {
									"value": "@last(split(item().name,'/'))",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SQLPool-Pause-Resume-Scale",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "resourceGroupName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "workspaceName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "sqlPoolName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "SQLPool-Pause-Resume-Scale",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"logicapp_endpoint": {
										"value": "@pipeline().parameters.sqlPool_logicapp_endpoint",
										"type": "Expression"
									},
									"subscriptionId": {
										"value": "@pipeline().parameters.subscriptionId",
										"type": "Expression"
									},
									"resourceGroupName": {
										"value": "@variables('resourceGroupName')",
										"type": "Expression"
									},
									"workspaceName": {
										"value": "@variables('workspaceName')",
										"type": "Expression"
									},
									"sqlPoolName": {
										"value": "@variables('sqlPoolName')",
										"type": "Expression"
									},
									"apiVersion": {
										"value": "2021-03-01",
										"type": "Expression"
									},
									"action": {
										"value": "@pipeline().parameters.action",
										"type": "Expression"
									},
									"sku": {
										"value": "@pipeline().parameters.sku",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"resourceList_logicapp_endpoint": {
				"type": "string"
			},
			"subscriptionId": {
				"type": "string"
			},
			"resourceType": {
				"type": "string",
				"defaultValue": "Microsoft.Synapse/workspaces/sqlPools"
			},
			"apiVersion": {
				"type": "string",
				"defaultValue": "2021-04-01"
			},
			"action": {
				"type": "string",
				"defaultValue": "pause"
			},
			"sku": {
				"type": "string",
				"defaultValue": "DW100c"
			},
			"sqlPool_logicapp_endpoint": {
				"type": "string"
			}
		},
		"variables": {
			"parameters": {
				"type": "String"
			},
			"resourceGroupName": {
				"type": "String"
			},
			"workspaceName": {
				"type": "String"
			},
			"sqlPoolName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Manage-SQLPool"
		},
		"annotations": [],
		"lastPublishTime": "2023-06-25T08:41:52Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}