pipeline/Manage-All-SQLPools.json
{
	"name": "Manage-All-SQLPools",
	"properties": {
		"activities": [
			{
				"name": "Call Resource List Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Logic App Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://prod-14.australiaeast.logic.azure.com:443/workflows/3938e046963c48968a48636f821d6970/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=HcQMejUIYn77Y9X6Relz4RY31AXZEEyA54qfNulmhFo",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('parameters'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Logic App Parameters",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "parameters",
					"value": {
						"value": "{\"subscriptionId\": \"@{pipeline().parameters.subscriptionId}\",\n\"resourceType\": \"@{pipeline().parameters.resourceType}\",\n\"apiVersion\": \"@{pipeline().parameters.apiVersion}\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Call Resource List Logic App",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Call Resource List Logic App').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "subscriptionId",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "subscriptionId",
								"value": {
									"value": "@item().id",
									"type": "Expression"
								}
							}
						},
						{
							"name": "workspaceName",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "workspaceName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "sqlPoolName",
								"value": {
									"value": "@item().name",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"logicapp_endpoint": {
				"type": "string"
			},
			"subscriptionId": {
				"type": "string"
			},
			"resourceType": {
				"type": "string",
				"defaultValue": "Microsoft.Synapse/workspaces/sqlPools"
			},
			"apiVersion": {
				"type": "string",
				"defaultValue": "2021-04-01"
			},
			"action": {
				"type": "string",
				"defaultValue": "pause"
			},
			"sku": {
				"type": "string",
				"defaultValue": "DW100c"
			}
		},
		"variables": {
			"parameters": {
				"type": "String"
			},
			"subscriptionId": {
				"type": "String"
			},
			"resourceGroupName": {
				"type": "String"
			},
			"workspaceName": {
				"type": "String"
			},
			"sqlPoolName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Manage-SQLPool"
		},
		"annotations": []
	}
}