pipeline/Master L1Transform Generic.json
{
	"name": "Master L1Transform Generic",
	"properties": {
		"description": "Generic Level 1 Transformation Pipeline",
		"activities": [
			{
				"name": "Get L1 Instances",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ELT].[GetTransformInstance_L1]",
						"storedProcedureParameters": {
							"DelayL1TransformationFlag": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.DelayL1TransformationFlag",
									"type": "Expression"
								}
							},
							"L1TransformInstanceId": {
								"type": "Int32",
								"value": null
							},
							"MaxTransformInstance": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.MaxTransformInstance",
									"type": "Expression"
								}
							},
							"SourceSystemName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.SourceSystemName",
									"type": "Expression"
								}
							},
							"StreamName": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.StreamName",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ControlDB_Dataset",
						"type": "DatasetReference",
						"parameters": {
							"Table": "Not Applicable",
							"Schema": "Not Applicable"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach L1 Instance",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get L1 Instances",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get L1 Instances').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Run L1 Transform Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "L1Transform-Generic",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"L1TransformInstanceID": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SourceSystemName": {
				"type": "string",
				"defaultValue": "AIML-OCR"
			},
			"StreamName": {
				"type": "string",
				"defaultValue": "analyze-sec-form10q"
			},
			"MaxTransformInstance": {
				"type": "int",
				"defaultValue": 20
			},
			"DelayL1TransformationFlag": {
				"type": "int",
				"defaultValue": 0
			}
		},
		"folder": {
			"name": "Transform/L1 Transform Pipelines"
		},
		"annotations": []
	}
}