pipeline/REST API with Bearer Auth.json
{
	"name": "REST API with Bearer Auth",
	"properties": {
		"activities": [
			{
				"name": "Bearer Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set bearerAPIBody",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/72f988bf-86f1-41af-91ab-2d7cd011db47/oauth2/token",
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('bearerAPIBody'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set bearerAPIBody",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "bearerAPIBody",
					"value": {
						"value": "{\n\"grant_type\":\"client_credentials\",\n\"client_id\":\"5e07b142-92b4-4671-83c0-e824bc93da6c\",\n\"client_secret\":\"nzh7cA-~MBl0OA9_rQK62-i4r14e_tZ_j-\",\n\"resource\":\"https://purview.azure.net\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"bearerAPIBody": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Sandbox"
		},
		"annotations": []
	}
}