pipeline/SQLPool-Pause-Resume-Scale.json
{
	"name": "SQLPool-Pause-Resume-Scale",
	"properties": {
		"activities": [
			{
				"name": "Call SQL Pool Logic App",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Logic App Parameters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@pipeline().parameters.logicapp_endpoint",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"body": {
						"value": "@json(variables('parameters'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Logic App Parameters",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "parameters",
					"value": {
						"value": "{\n\"action\": \"@{pipeline().parameters.action}\",\n\"sku\": \"@{pipeline().parameters.sku}\",\n\"subscriptionId\": \"@{pipeline().parameters.subscriptionId}\",\n\"resourceGroupName\": \"@{pipeline().parameters.resourceGroupName}\",\n\"workspaceName\": \"@{pipeline().parameters.workspaceName}\",\n\"sqlPoolName\": \"@{pipeline().parameters.sqlPoolName}\",\n\"apiVersion\": \"@{pipeline().parameters.apiVersion}\"\n}",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"logicapp_endpoint": {
				"type": "string",
				"defaultValue": "https://prod-19.australiaeast.logic.azure.com:443/workflows/5f8598c0da594852a579269eadaf38e2/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=OkMprjcH_d3xprJfXXr5iZkZN8-IVIewsLg6GLLSaos"
			},
			"subscriptionId": {
				"type": "securestring"
			},
			"resourceGroupName": {
				"type": "securestring"
			},
			"workspaceName": {
				"type": "securestring"
			},
			"sqlPoolName": {
				"type": "securestring"
			},
			"apiVersion": {
				"type": "string",
				"defaultValue": "2021-03-01"
			},
			"action": {
				"type": "string",
				"defaultValue": "pause"
			},
			"sku": {
				"type": "string",
				"defaultValue": "DW100c"
			}
		},
		"variables": {
			"parameters": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Manage-SQLPool"
		},
		"annotations": [],
		"lastPublishTime": "2021-07-07T14:22:37Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}